

// BLOG POST STARTS HERE

.blog-body {
    background: $primary-blue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 100px;
    
    
    article {
        width: 60%;
        position: relative;
        top: -60vh;
        z-index: 10;
        margin-right: 30px;
        height: 100%;
        margin-bottom: -40vh;
        .blog-image {
            
            position: relative;
            right: -30px;
        }
        .blog-text {
            padding: 40px 0 5px 40px;
            margin: 40px 100px 0 0;
            background: $primary-blue;
            position: relative;
            p {
                margin-top: 0;
            }
        }

        .comments-section {
            margin: 40px 100px 0 0;
            padding: 40px 0 5px 40px;
            .comment {
                display: flex;
                margin-top: 40px;
                img {
                    width: 100px;
                    height: 100px;
                    
                }
                div {
                    padding-left: 30px;
                    p {
                        margin-top: 0;
                    }
                }
            }
        }
        form {
            margin-right: 100px;
        }
    

    .blog-image::before {
        content: '';
        height: 100%;
        width: 100%;
        background: $accent;
        position: absolute;
        left: -40px;
        bottom: -40px;
        z-index: -1;
    }

    .blog-text::before {
        content: '';
        height: 120%;
        width: 100%;        
        background: $accent;
        position: absolute;
        left: -10px;
        bottom: -10px;
        z-index: -10;
    }

    

// ASIDE STARTS HERE
    
    aside {
    width: 30%;
    position: relative;
    z-index: 10;
    height: 100%;
    
        .aside-info {
            margin-left: 100px;
            background: $primary-green;
            padding: 30px;
        }
        ul {
            margin: 30px 0;
            li {
                line-height: 32px;
                list-style-type: disc;
                padding-left: 10px;
            }
        }
    }
    }
    
}

.aside-info::after {
    content: '';
    width: calc(100% - 85px);
    height: calc(100% - 20px);
    background: $primary-green;
    right: -15px;
    top: 20px;
    position: absolute;
    z-index: -1;

}

