

// BLOG POST STARTS HERE

.blog-body {
    background: $primary-blue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 100px;
    article {
        width: 60%;
        position: relative;
        top: -60vh;
        z-index: 10;
        margin-right: 30px;
        height: 100%;
        margin-bottom: -40vh;
        .blog-image {
             position: relative;
            right: -30px;
        }
        form {
            margin-right: 100px;
        }
    }

    .blog-text {
        padding: 40px 90px 5px 40px;
        margin: 40px 10px 0 0;
        background: $primary-blue;
        position: relative;
        p {
            margin-top: 0;
        }
    }

    .comments-section {
        margin: 40px 100px 0 0;
        padding: 40px 0 5px 40px;
        
    }
}

.comment {
    display: flex;
    margin-top: 40px;
    img {
        width: 100px;
        height: 100px;
        
    }
    div {
        padding-left: 30px;
        p {
            margin-top: 0;
        }
    }
}

.blog-image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: $accent;
    position: absolute;
    left: -40px;
    bottom: -40px;
    z-index: -1;
}

.blog-text::before {
    content: '';
    height: 120%;
    width: 100%;        
    background: $accent;
    position: absolute;
    left: -10px;
    bottom: -10px;
    z-index: -10;
} 

// ASIDE STARTS HERE

aside {
    width: 30%;
    position: relative;
    z-index: 10;
    height: 100%;
    
        .aside-info {
            margin-left: 100px;
            background: $primary-green;
            padding: 30px;
        }
        ul {
            margin: 30px 0;
            li {
                line-height: 32px;
                list-style-type: disc;
                padding-left: 10px;
            }
        }
    }

.aside-info::after {
    content: '';
    width: calc(100% - 85px);
    height: calc(100% - 20px);
    background: $primary-green;
    right: -15px;
    top: 20px;
    position: absolute;
    z-index: -1;

}

@media(max-width: 1024px) {
    
    aside {
        .aside-info {
        padding: 15px;
        margin-left: 80px;
        }
        ul {
            margin-left: 15px;
            li {
                line-height: 2rem;
            }
        } 
    }
}

@media(max-width: 728px) {
    .blog-body {
        display: block;
        .blog-post {
            width: 90%;
            margin: 0 auto -35vh;
            top: -40vh;
            .blog-image {
                right: 0;
            }
        }
        .blog-text {
            padding-right: 40px;
        }
        .comments-section {
            margin-right: 40px;
        }
        .blog-form {
            margin: 0;
            border-bottom: 2px solid $accent;
        }
        
    }

    .blog-image::before {
        left: -10px;
    }

    aside {
        width: 100%;
        position: static;
        display: flex;
        
            .aside-image {
                width: 40%;
                margin-left: 5%;
            }   
            .aside-info {
                width: 60%;
                margin: 0 5% 40px 20px;
            }
            
        }

    .aside-info::after {
        position: static;
    }

}

@media(max-width: 480px) {
    .blog-image::before, .blog-text::before {
        position: static;
    }

    .blog-image {
        border: 10px solid $accent;
    }

    

    .blog-body {
       .blog-form {
        margin-top: 20px;
        } 
       .comments-section {
        margin: 0;
        padding: 0;
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            div {
                padding-left: 20px;
            }
            p {
                margin-bottom: 20px;
            }
        } 
    }
    
}
