// BUTTON STYLING

.find-out-button {
    background: $accent;
    color: $primary-blue;
    padding: 10px 30px;
    line-height: 32px;
}

.read-more-button {
   background: $primary-blue;
   padding: 10px 30px;
   line-height: 32px;
}

