// ALL STYLING FOR CONTACT PAGE

.contact-main {
    background: $primary-blue;
    
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
    }
}

.contact-info {
    width: 30%;
    align-self: center;
    margin-right: 20px;
    
    h4 {
        margin-bottom: 20px;
    }
    
    p {
        margin: 0;
    }
}

.social-icons {
    display: flex;
    
    i {
        margin-right: 20px;
    }
}

// MEDIA QUERIES STARTS HERE

@media(max-width: 1024px) {
    
    .contact-main {
        
        .wrapper {
            display: block;
        }
    }

.contact-info {
    width: 100%;
    align-self: center;
    margin: 0 auto;
    }
}
