
@mixin form-styling($form-color) {
    width: calc(50% - 20px);
    border: none;
    border-bottom: 2px solid $accent;
    padding: 0 20px 20px;
    background: $form-color;
    color: $text-color;
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    textarea {
        width: 100%;
        height: 200px;
        margin-top: 30px;
        border: 2px solid $accent;
        padding: 20px;
        color: $text-color;
    }
    button {
       margin: 40px 0;
    }
}

.blog-form {
    background: $primary-blue;
    input[type=email], input[type=text] {
    @include form-styling($primary-blue);
    }
    textarea {
        background: $primary-blue;
    }
}
    

// CONTACTS PAGE FORM

.contact-message {
    width: 70%;
    form {
        background: $primary-green;
        padding: 60px;
        input[type=email], input[type=text] {
            @include form-styling($primary-green);
        }
        textarea {
            background: $primary-green;
        }
        button {
            background: $primary-blue;
            margin-bottom: 0;
        }
    }
}

.contact-message {
        position: relative;
        top: -35vh;
        left: 60px;
        z-index: 10;
        form {
            position: relative;
        }
    }

.contact-message form::before {
    content: '';
        height: 100%;
        width: 100%;
        background: $accent;
        position: absolute;
        left: -40px;
        bottom: -40px;
        z-index: -1;
}

// MEDIA QUERIES START HERE

@media(max-width: 1024px) {
    .contact-message {
        width: 100%;
        left: 30px;
        top: -45vh;
        margin-bottom: -35vh;
    }

    .contact-info {
        text-align: center;
        padding-bottom: 30px;
        .social-icons {
            justify-content: center;
        }
    }

}

@media(max-width: 728px) {
    .contact-message form::before {
        position: static;
    }

    .contact-message {
        left: 0;
    }
}

@media (max-width: 480px) {
    .contact-message {
        form {
            padding: 30px;
            display: block;
        }
    }
    .blog-form, .contact-message form {
        input[type=email], input[type=text] {
            width: 100%;
            padding-top: 10px;
        }
    }
}



        
    