// partial for header styling

// HOME PAGE STARTS HERE

@mixin header-image($header-image) {
    background: $header-image;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.header-home {
    @include header-image((linear-gradient(rgba(12, 20, 35, 0.7), rgba(12, 20, 35, 0.7)), url(images/header-image.jpg)));
    position: relative;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding: 30px;
}
 
nav a {
    line-height: 29px;
    letter-spacing: 1px;
}

h1 {
    width: 30%;
    padding-top: 90px;
}

.header-image {
    position: absolute;
    bottom: -200px;
    right: 0;
    width: 50%;
}

ul {
    margin-top: 0;
}

// BLOG HEADER STARTS HERE

.header-blog {
    @include header-image(url(images/blog-header.jpg));
}

// CONTACT PAGE HEADER STARTS HERE

.contact-header {
    @include header-image(url(images/contact-header.jpg));
}



// MEDIA QUERIES STARTS HERE

@media(max-width: 1024px) {
    .header-image {
        display: none;
    }  

}

// MOBILE STARTS HERE

@media(max-width: 728px) {
    h1 {
        font-size: 12rem;
        line-height: 10rem;
        padding-top: 80px;
    }

    nav {
        display: none;
    }

    .header-blog {
        height: 50vh;
    }
}

@media(max-width: 480px) {
    h1 {
        font-size: 8rem;
        line-height: 7.5rem;
    }
}



@media(max-width: 320px) {
    
}



    
