// HOME PAGE BODY STYLING

// MORE INFO SECTION STARTS HERE

.more-info {
    background: $primary-blue;
    padding: 250px 5% 200px;
    text-align: center;
}

// FEATURES SECTION STARTS HERE

.features {
    background: $primary-green;    
}

.feature-top, .feature-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.feature-bottom {
    flex-direction: row-reverse;
}

.photo-wrapper {
    width: 40%;  
}

.info-left, .info-right {
    width: 40%;
    padding-top: 70px;
}

.info-right {
    padding-right: 10%;
    
}

.info-left {
    padding-left: 10%;
    text-align: right;
}

.photo-wrapper {
    position: relative;
}

.photo-left {
    position: absolute;
    top: -40px;
    box-shadow: $drop-shadow-right;  
}

.photo-right {
    position: absolute;
    bottom: -100px;
    box-shadow: $drop-shadow-left;   
}

// LINKS SECTION STARTS HERE

.links-section {
    background: $primary-blue;
    padding: 150px 0 50px 0;
    ul {
    display: flex;
    flex-wrap: wrap;
        li {
        display: flex;
        width: 50%;
        margin: 30px 0;
            i {
                border-radius: 50%;
                background: $accent;
                color: $primary-blue;
                padding: 15px;
                font-size: 3.2rem;
                height: 65px;
                width: 65px;
                text-align: center;
                margin: 0 30px;
        
            }
            
        }
    }
}

// MONTHLY PROFILE

.monthly-profile {
    background: $primary-blue;
    .wrapper {
        padding: 120px 0 90px 0;
        display: flex;
        
        .monthly-info {
            width: 75%;
            padding-left: 100px;
        }
    }
}

.box-photo {
    width: 25%;
    height: 25%;
    box-shadow: $drop-shadow-right;
    img {
        display: block; 
    }
}

.gallery {
    background: $primary-green;
    padding: 90px 0;
    ul {
        display: flex;
        li:nth-child(2) {
            margin: 0 40px;
        }
    }
}

// MEDIA QUERIES


@media(max-width: 1024px) {
    .more-info {
        padding: 100px 5% 150px;
    }

    // FEATURES SECTION STARTS HERE
    
    .photo-wrapper,.info-left, .info-right {
    width: 45%;
    }

    .info-left {
        padding-top: 0;
    }

    .features .feature-top {
        padding-bottom: 20px;
    }

}

@media(max-width: 800px)  {

    // FEATURES SECTION STARTS HERE
   .info-right {
        padding: 5% 5% 0 0;
   }

   .info-left {
       padding-left: 5%;
   }

   .feature-bottom {
       padding-bottom: 20px;
   }

   .photo-right {
       bottom: -50px;
   }
}

@media(max-width: 728px) {
    // FEATURES SECTION STARTS HERE

    .feature-top, .feature-bottom {
        display: block;
        h4 {
            border-bottom: 2px solid $accent;
        }
    }

    .photo-wrapper, .info-left, .info-right {
        width: 100%;
        text-align: center;
    }

    .photo-wrapper {
        position: static;
    }

    .photo-left, .photo-right {
        position: static;
        box-shadow: none;
    }

    .info-right, .info-left {
        padding: 10%;
    }

    // LINKS SECTION STARTS HERE

.links-section {
    padding: 5%;
    
    ul {
    display: block;
    
        li {
        display: flex;
        width: 100%;
        margin: 10% 0;
            i {
                margin-left: 0;
        
            }
            
        }
    }
}

// MONTHLY PROFILE STARTS HERE

    .monthly-profile {
        
        .wrapper {
            padding-top: 80px;
            display: flex;
            
            .monthly-info {
                width: 75%;
                padding-left: 80px;
            }
        }
    }

// GALLERY STARTS HERE

    .gallery {
        ul {
            li:nth-child(2) {
                margin: 0 0 0 40px;
            }
            li:nth-child(3) {
                display: none;
            }
        }
    }


}


@media(max-width: 480px) {


}



@media(max-width: 320px) {
    .feature-top, .feature-bottom {
        display: block;
    }
}
