article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', sans-serif;
  color: #fff;
  font-size: calc(1rem + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 13.8rem;
  line-height: 126px;
  margin: 0;
}

h2 {
  font-size: 8rem;
  line-height: 92px;
  margin-bottom: 20px;
}

h3 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

p {
  margin: 30px 0;
  font-family: 'Lato', sans-serif;
  line-height: 32px;
}

@media (max-width: 800px) {
  p {
    line-height: 25px;
  }
}

@media (max-width: 728px) {
  .wrapper {
    width: 90%;
  }
}

.find-out-button {
  background: #86e0f9;
  color: #0c1423;
  padding: 10px 30px;
  line-height: 32px;
}

.read-more-button {
  background: #0c1423;
  padding: 10px 30px;
  line-height: 32px;
}

button {
  width: 100%;
  color: #fff;
  background: #0f614e;
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 20, 35, 0.7)), to(rgba(12, 20, 35, 0.7))), url(images/header-image.jpg);
  background: linear-gradient(rgba(12, 20, 35, 0.7), rgba(12, 20, 35, 0.7)), url(images/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav li {
  padding: 30px;
}

nav a {
  line-height: 29px;
  letter-spacing: 1px;
}

h1 {
  width: 30%;
  padding-top: 90px;
}

.header-image {
  position: absolute;
  bottom: -200px;
  right: 0;
  width: 50%;
}

ul {
  margin-top: 0;
}

.header-blog {
  background: url(images/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contact-header {
  background: url(images/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 1024px) {
  .header-image {
    display: none;
  }
}

@media (max-width: 728px) {
  h1 {
    font-size: 12rem;
    line-height: 10rem;
    padding-top: 80px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 8rem;
    line-height: 7.5rem;
  }
}

.more-info {
  background: #0c1423;
  padding: 250px 5% 200px;
  text-align: center;
}

.features {
  background: #0f614e;
}

.feature-top, .feature-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.feature-bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.photo-wrapper {
  width: 40%;
}

.info-left, .info-right {
  width: 40%;
  padding-top: 70px;
}

.info-right {
  padding-right: 10%;
}

.info-left {
  padding-left: 10%;
  text-align: right;
}

.photo-wrapper {
  position: relative;
}

.photo-left {
  position: absolute;
  top: -40px;
  -webkit-box-shadow: 40px 40px #86e0f9;
          box-shadow: 40px 40px #86e0f9;
}

.photo-right {
  position: absolute;
  bottom: -100px;
  -webkit-box-shadow: -40px 40px #86e0f9;
          box-shadow: -40px 40px #86e0f9;
}

.links-section {
  background: #0c1423;
  padding: 150px 0 50px 0;
}

.links-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 30px 0;
}

.links-section ul li i {
  border-radius: 50%;
  background: #86e0f9;
  color: #0c1423;
  padding: 15px;
  font-size: 3.2rem;
  height: 65px;
  width: 65px;
  text-align: center;
  margin: 0 30px;
}

.monthly-profile {
  background: #0c1423;
}

.monthly-profile .wrapper {
  padding: 120px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.monthly-profile .wrapper .monthly-info {
  width: 75%;
  padding-left: 100px;
}

.box-photo {
  width: 25%;
  height: 25%;
  -webkit-box-shadow: 40px 40px #86e0f9;
          box-shadow: 40px 40px #86e0f9;
}

.box-photo img {
  display: block;
}

.gallery {
  background: #0f614e;
  padding: 90px 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery ul li:nth-child(2) {
  margin: 0 40px;
}

@media (max-width: 1024px) {
  .more-info {
    padding: 100px 5% 150px;
  }
  .photo-wrapper, .info-left, .info-right {
    width: 45%;
  }
  .info-left {
    padding-top: 0;
  }
  .features .feature-top {
    padding-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .info-right {
    padding: 5% 5% 0 0;
  }
  .info-left {
    padding-left: 5%;
  }
  .feature-bottom {
    padding-bottom: 20px;
  }
  .photo-right {
    bottom: -50px;
  }
}

@media (max-width: 728px) {
  .feature-top, .feature-bottom {
    display: block;
  }
  .feature-top h4, .feature-bottom h4 {
    border-bottom: 2px solid #86e0f9;
  }
  .photo-wrapper, .info-left, .info-right {
    width: 100%;
    text-align: center;
  }
  .photo-wrapper {
    position: static;
  }
  .photo-left, .photo-right {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .info-right, .info-left {
    padding: 10%;
  }
  .links-section {
    padding: 5%;
  }
  .links-section ul {
    display: block;
  }
  .links-section ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 10% 0;
  }
  .links-section ul li i {
    margin-left: 0;
  }
  .monthly-profile .wrapper {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .monthly-profile .wrapper .monthly-info {
    width: 75%;
    padding-left: 80px;
  }
  .gallery ul li:nth-child(2) {
    margin: 0 0 0 40px;
  }
  .gallery ul li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 320px) {
  .feature-top, .feature-bottom {
    display: block;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form textarea {
  width: 100%;
  height: 200px;
  margin-top: 30px;
  border: 2px solid #86e0f9;
  padding: 20px;
  color: #fff;
}

form button {
  margin: 40px 0;
}

.blog-form {
  background: #0c1423;
}

.blog-form input[type=email], .blog-form input[type=text] {
  width: calc(50% - 20px);
  border: none;
  border-bottom: 2px solid #86e0f9;
  padding: 0 20px 20px;
  background: #0c1423;
  color: #fff;
}

.blog-form textarea {
  background: #0c1423;
}

.contact-message {
  width: 70%;
}

.contact-message form {
  background: #0f614e;
  padding: 60px;
}

.contact-message form input[type=email], .contact-message form input[type=text] {
  width: calc(50% - 20px);
  border: none;
  border-bottom: 2px solid #86e0f9;
  padding: 0 20px 20px;
  background: #0f614e;
  color: #fff;
}

.contact-message form textarea {
  background: #0f614e;
}

.contact-message form button {
  background: #0c1423;
  margin-bottom: 0;
}

.blog-body {
  background: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.blog-body article {
  width: 60%;
  position: relative;
  top: -60vh;
  z-index: 10;
  margin-right: 30px;
  height: 100%;
  margin-bottom: -40vh;
}

.blog-body article .blog-image {
  position: relative;
  right: -30px;
}

.blog-body article form {
  margin-right: 100px;
}

.blog-body .blog-text {
  padding: 40px 0 5px 40px;
  margin: 40px 100px 0 0;
  background: #0c1423;
  position: relative;
}

.blog-body .blog-text p {
  margin-top: 0;
}

.blog-body .comments-section {
  margin: 40px 100px 0 0;
  padding: 40px 0 5px 40px;
}

.blog-body .comments-section .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.blog-body .comments-section .comment img {
  width: 100px;
  height: 100px;
}

.blog-body .comments-section .comment div {
  padding-left: 30px;
}

.blog-body .comments-section .comment div p {
  margin-top: 0;
}

.blog-body .blog-image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #86e0f9;
  position: absolute;
  left: -40px;
  bottom: -40px;
  z-index: -1;
}

.blog-body .blog-text::before {
  content: '';
  height: 120%;
  width: 100%;
  background: #86e0f9;
  position: absolute;
  left: -10px;
  bottom: -10px;
  z-index: -10;
}

.blog-body aside {
  width: 30%;
  position: relative;
  z-index: 10;
  height: 100%;
}

.blog-body aside .aside-info {
  margin-left: 100px;
  background: #0f614e;
  padding: 30px;
}

.blog-body aside ul {
  margin: 30px 0;
}

.blog-body aside ul li {
  line-height: 32px;
  list-style-type: disc;
  padding-left: 10px;
}

.aside-info::after {
  content: '';
  width: calc(100% - 85px);
  height: calc(100% - 20px);
  background: #0f614e;
  right: -15px;
  top: 20px;
  position: absolute;
  z-index: -1;
}

.contact-main {
  background: #0c1423;
}

.contact-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contact-info {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
}

.contact-info h4 {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 0;
}

.contact-message {
  position: relative;
  top: -35vh;
  left: 60px;
  z-index: 10;
}

.contact-message form {
  position: relative;
}

.contact-message form::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #86e0f9;
  position: absolute;
  left: -40px;
  bottom: -40px;
  z-index: -1;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons i {
  margin-right: 20px;
}

footer {
  background: #86e0f9;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
  color: #0c1423;
}
